<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
	</head>
	<body>
		<%- include("partials/header", {title}) %>
		<div class="wrapper">
			<h2>
				Welcome <% if(account !== undefined){ %> <%= account.firstname %> <% }
				else { %> Stranger <%}%>
			</h2>
			<a href="/create-club/<%= account.id %>">Create a Club</a>
			<a href="/logout">Logout</a>
		</div>
	</body>
</html>
