<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/reset.css" />
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<%- include("partials/header", {title}) %>
		<main class="LOGIN">
			<h2>Login</h2>
			<%- include("partials/error", {error})%>
			<form class="LOGIN_form" action="/login" method="POST">
				<div>
					<label for="username">username</label>
					<input type="text" name="username" id="username" required />
				</div>
				<div>
					<label for="password">password</label>
					<input type="password" name="password" id="password" required />
				</div>
				<div>
					<button type="submit">Login</button>
				</div>
			</form>
			<p>Need an account? <a href="/register">Register</a></p>
		</main>
	</body>
</html>
